@import "vars";


/* Estilos para la capa superpuesta (modal) */

.modal {
    display: none;

  }

.modalDisplay{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75) ;
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 400px;
    .closeIcon{
      cursor: pointer;
      width: 20px;
      position: absolute;
      top: -10%;
      right: 5%;
      & :hover{
        fill: $Orange;
      }
      
  }
  .modalPrincipalContainer{
    width: 100%;

    .modalImgsContainer{
      display: flex;
      align-items: center;
      justify-content: center;

      .iconPrevious{
        background-color: white;
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        position: relative;
        left: -20px;
          path{
            stroke: red;
          }
      }
      
      .iconNext{
        background-color: white;
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 100%;
        position: relative;
        right: -20px;
          path{
            stroke: red;
          }
      }
      
      .modalprincipal {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 35px;
      }
    }
  }
  .modalImgThumContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
    .imgThum{
      width: 20%;
      border-radius: 5px;
  }
}
}
    

  







